<div>
    <!--форма добавления нового пользователя-->
    <form action="" onsubmit="return false">
        <h2>Добавить абонента</h2>
        <!--<input type="text" ng-model="$ctrl.objectPhones.inpId" placeholder="id" require>-->
        <input type="text" ng-model="$ctrl.objectPhones.inpName" placeholder="Имя">
        <input type="text" ng-model="$ctrl.objectPhones.inpSecondName" placeholder="Фамилия">
        <input type="text" ng-model="$ctrl.objectPhones.inpPhone" placeholder="Телефон">
        <input type="text" ng-model="$ctrl.objectPhones.inpDate" placeholder="Дата">
        <!--<button class='addBut' ng-click='$ctrl.addNewAbon()'>Добавить</button>-->
        <button class='addBut' ng-click='$ctrl.add()'>Добавить</button>
    </form>

    <!--поиск абонентов-->
    <div class="search">
        <input id='search' placeholder="введите имя" type="text" ng-model="$ctrl.query">
    </div>

    <!--таблица с абонентами-->
    <table class="abonsTable">
        <caption>{{$ctrl.label}}</caption>
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>second name</th>
                <th>phone</th>
                <th>date</th>
                <th>control</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in $ctrl.abons | filter:$ctrl.query">
                <td><a href="#!abons/{{user.id}}">{{user.id}} </a></td>
                <td><a href="#!abons/{{user.id}}">{{user.firstName}}</a></td>
                <td><a href="#!abons/{{user.id}}">{{user.secondName}}</a></td>
                <td><a href="#!abons/{{user.id}}">{{user.phone}}</a></td>
                <td><a href="#!abons/{{user.id}}">{{user.createdAt}}</a></td>
                <td>
                    <button ng-click="$ctrl.delete(user)">Удалить</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>