body {
    padding-top: 20px;
}


/*FORM*/

form {
    float: right;
    width: 50%;
    outline: steelblue;
}

input {
    display: grid;
    padding: 4px;
    margin: 4px;
}

#search {
    display: inline;
}

button.addBut {
    margin-top: 8px;
    width: 192px;
    padding: 4px;
    background-color: deepskyblue;
    font-family: fantasy;
}

select {
    padding: 4px;
    margin: 4px;
}


/*search form*/


/*TABLE*/

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
}

caption {
    background-color: honeydew;
    font-size: 24px;
    font-family: fantasy;
    font-weight: 400;
    text-align: center;
}

th,
td:first-child {
    background: #AFCDE7;
    color: white;
    padding: 10px 20px;
}

th,
td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
    text-align: center;
}

td {
    background: #D8E6F3;
    width: 160px;
    height: 60px;
}

tr:hover {
    color: blue;
    cursor: pointer;
}

th:first-child,
td:first-child {
    text-align: left;
    width: 50px;
}

h2 {
    font-family: fantasy;
    font-size: 23px;
}

.thumb {
    float: left;
    height: 100px;
    margin: -0.5em 1em 1.5em 0;
    padding-bottom: 1em;
    width: 100px;
}

img {
    width: 25px;
}